<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="isLoading">
    <div class="loading-screen">
      <ion-spinner color="primary"></ion-spinner>
    </div>
  </ng-container>

  <ng-container *ngIf="!isLoading">
    <div class="favorites-list" *ngIf="favoriteSongs.length > 0">
      <ion-list>
        <ion-item-sliding
          class="fadeIn fast"
          *ngFor="let song of favoriteSongs; let i = index"
        >
          <ion-item (click)="setSong(song)">
            <ion-icon color="primary" slot="start" name="musical-notes"></ion-icon>
            {{ song.name }} - {{ song.artists[0].name }}
          </ion-item>
    
          <ion-item-options side="end">
            <ion-item-option color="danger">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <div *ngIf="favoriteSongs.length === 0" class="card">
      <div class="card-no-data">
        <ion-icon name="sad-outline" color="primary"></ion-icon>
        <p> Aún no tienes canciones favoritas </p>
      </div>
    </div>
  </ng-container>
</ion-content>

<ion-footer color="primary">
  <app-player
    [song]="song"
  >
  </app-player>
</ion-footer>
