ion-content {
  --background: url('~/assets/images/bg.png') 100% 100%;
}

.favorites-list, ion-list {
  border-radius: 15px;

}
.favorites-list {
  margin: 10px;
  background-color: white;
}

.card-no-data {
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  text-align: center;

  ion-icon {
    font-size: 80px;
  }
}