<div class="card">
  <ion-icon class="logo" name="musical-notes"></ion-icon>
  <ion-list lines="none">
    <ion-item class="rounded-input">
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email">
      </ion-input>
    </ion-item>

    <ion-item class="rounded-input">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password">
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-button shape="round">
    Ingresar
  </ion-button>
  
  <p class="card--footer" (click)="swipeToRegister()"> 
    ¿No tienes una cuenta? <span> Regístrate </span> 
  </p>
</div>