<ion-content>
  <ion-slides class="mainSlide" #mainSlide>
    <ion-slide>
      <app-header
        header="rounded">
      </app-header>

      <app-login-form
        (onLogin)="onLogin($event)"
        (onSwipe)="onSwipe($event)">
      </app-login-form>
    </ion-slide>

    <ion-slide>
      <app-header
        header="polygon">
      </app-header>

      <app-register-form
        (onSignUp)="onSignUp($event)"
        (onSwipe)="onSwipe($event)">
      </app-register-form>
    </ion-slide>
  </ion-slides>
</ion-content>
