/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: 'Cera';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/CeraRoundProRegular.otf');
}

@font-face {
  font-family: 'Cera';
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/CeraRoundProBold.otf');
}

@font-face {
  font-family: 'Cera';
  font-style: italic;
  font-weight: normal;
  src: url('./assets/fonts/CeraRoundProThin.otf');
}

@font-face {
  font-family: 'Cera';
  font-style: italic;
  font-weight: bold;
  src: url('./assets/fonts/CeraRoundProMedium.otf');
}

@font-face {
  font-family: 'Cera';
  font-style: italic;
  font-weight: bold;
  src: url('./assets/fonts/CeraRoundProLight.otf');
}

@font-face {
  font-family: 'Cera';
  font-style: italic;
  font-weight: bold;
  src: url('./assets/fonts/CeraRoundProBlack.otf');
}

* {
  font-family: Cera !important;
}

.logo {
  font-size: 80px;
  color: var(--ion-color-primary);
}

.rounded-input {
  height: 55px;
  border: 1px solid var(--ion-color-primary);
  border-radius: 15px;
  --highlight-color-focused: none;

  ion-label {
    margin-top: -8px;
  }
}

.rounded-input.ion-invalid,
.rounded-input.ion-dirty,
.rounded-input.ion-ion-touched {
  --highlight-background: none;
}

.rounded-input.item-has-focus {
  border: 2px solid var(--ion-color-primary);
  --highlight-color-focused: none;
  
  ion-label {
    color: var(--ion-color-primary);
    margin-top: 4px;
  }
  
  ion-input {
    margin-top: -11px;
  }
}

.rounded-input.item-has-value {
  --highlight-color-focused: none;

  ion-label {
    color: var(--ion-color-primary);
    margin-top: 4px;
  }

  ion-input {
    margin-top: -11px;
  }
}

ion-input {
  --padding-top: 0 !important;
  --padding-bottom: 0 !important;
}

ion-button {
  text-transform: none;
}

.card {
  width: 80%;
  max-width: 400px;
  padding: 10px 30px;
  border-radius: 20px;
  margin: calc(20vh - 60px) auto 0;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
  opacity: 0.95;
  
  &--footer {
    cursor: pointer;
    font-size: 14px;
    
    span {
      color: var(--ion-color-primary);
    }
  }
}

ion-list {
  padding: 20px !important;
}

.error {
  position: absolute;
  margin: 0;
  color: #eb445a;
  text-align: left;
  font-size: 12px;
}

ion-spinner {
  margin: 7px 0;
}

ion-card {
  border-radius: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.messenger {
  .alert-wrapper {
    border-radius: 15px;

    .alert-head {
      background-color: var(--ion-color-primary);

      h2 {
        color: white;
      }
    }

    .alert-message {
      padding-top: 10px !important;
    }

    .alert-button-group {
      justify-content: center;

      button {
        margin: 0;
        text-transform: none;
      }
    }
  }
}