<div class="card">
  <ion-icon class="logo" name="musical-note"></ion-icon>

  <ion-list lines="none">
    <ion-item class="rounded-input">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text">
      </ion-input>
    </ion-item>

    <ion-item class="rounded-input">
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email">
      </ion-input>
    </ion-item>

    <ion-item class="rounded-input">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password">
      </ion-input>
    </ion-item>

    <ion-item class="rounded-input">
      <ion-label position="floating">Repetir contraseña</ion-label>
      <ion-input type="password">
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-button shape="round">
    Registrar
  </ion-button>

  <p class="card--footer" (click)="swipeToLogin()">
    ¿Ya estás registrado? <span> Ingresa </span>
  </p>
</div>